body {
  background-color: #343541;
  color: #ffffff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flashcard {
  background-color: #444654;
  width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
  background-color: #565869;
  width: 100%;
  flex: 1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.word {
  text-align: center;
  margin-bottom: 16px;
}


.audio-button {
  background-color: #d1d5db;
  color: #000000;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 24px;
}

.audio-button:hover {
  background-color: #9ca3af;
}


.difficulty-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}


.difficulty-buttons button {
  flex: 1;
  border: none;
  border-radius: 9999px;
  padding: 12px 0;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 6px;
}

.easy-button {
  background-color: #86efac;
  color: #065f46;
}

.medium-button {
  background-color: #fde68a;
  color: #92400e;
}

.hard-button {
  background-color: #fca5a5;
  color: #7f1d1d;
}
